body {
    font-family: 'Raleway', sans-serif;
    background-color: red;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

hr {
    width: 10%;
    border: solid 100px;
   
}
.fa-caret-down {
    font-size: 5rem;
    margin: 100px 0 0 640px; 
}

#topSection h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 0;
    font-size: 5rem;
    font-weight: 700;
}

#topSection h3 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
    font-size: 1.1rem;
    font-weight: bolder;
}

#topSection p {
    width: 40%;
    margin: auto;
}

#navBar a, #navBar ul, #navBar li {
    text-decoration: none;
    list-style-type: none;
    color: black;
    display: inline-block;
    margin: 10px;
    font-weight: 900;
   
}

#projectSection {
    text-align: center;
    margin-top: 50px;
}



