body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

hr {
    width: 10%;
    border: solid 1px; 
   
}
.fa-caret-down {
    font-size: 7rem;
    margin: 100px 0 0 640px; 
}

#topSection h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 50px;
    font-size: 6rem;
    font-weight: 700;
}

#topSection h3 {
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
    font-size: 1.1rem;
    font-weight: bolder;
}

#topSection p {
    width: 40%;
    margin: auto;
}

#projectSection {
    text-align: center;
    margin-top: 50px;
}



